.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  overflow-x:hidden;
}

.primary{
  margin:auto;
  align-content: flex-start;
}

.container {
  display: flex;
  color: white;
  justify-content: center;
  flex-direction: column;
  height: 650px;
  width: 400px;
  margin-top: 100px;
  margin-right: 100px;
}

.container>h1 {
  font-size: 64px;
  font-weight: bold;
  display: flex;
  font-family: Helvetica Neue;
  font-style: italic;
  margin-left:auto;
  margin-right:auto;
}

.container>h2 {
  font-size: 36px;
  margin-left: auto;
  margin-right: auto;
}

.container>h3 {
  font-size: 24px;
  padding-left: 10px;
  display: flex;
    margin-left: auto;
    margin-right:auto;
}

.main>div {
  display: flex;
  flex-direction: row;
}

.image {
  display: block;
  min-width: 10px;
  min-height: 10px;
  padding-top: 150px;
  width: 80%;
  height: 80%;
}

.container>div>button{
  margin-left: auto;
  margin-right: auto;
}

/* Phone */

@media screen and (min-width: 412px) and (max-width: 820px) {
  .main{
    min-height: 30vh;
  }

  .image {
    width: 50%;
    height: 50%;
    flex-direction: column;
    position: absolute;
    display: block;
    padding-left: 75px;
    top: -125px;
  }

.container>h1{
  font-size: 48px;
}
.container>h2{
  font-size: 18px;
  text-align: center;
}
.container>h3{
  font-size: 14px;
}
.container>div>button{
  width: 250px;
  font-size: 16px;
}

.container{
justify-content: center;
height: 600px;
padding-top: 125px;
margin: auto;
}
}

/*Tablet */
@media screen and (min-width:820px) and (max-width: 1024px) {
  .image {
    width: 500px;
    height: 500px;
    flex-direction: row;
    margin-left: 300px;
  }

.container>div>button{
  width: 250px;
}

.container>h1{
  font-size: 36px;
}

.container>h2{
  float: right;
}

.container{
  width: 300px;
  margin-right:250px
}
}

/* Tablet and Smaller Desktop */
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .image {
    width: 50%;
    height: 50%;
    min-width: 40%;
    min-height: 40%;
    flex-direction: column;
    padding-left: 200px;
  }
  .main{
    max-width: 100%;
  }

  .container>h1{
    font-size: 50px;
  }

  .container>h2{
    font-size: 24px;
  }
}